<div class="container">
    <h1>Book Detail</h1>
    <br />
    <div class="row">
        <div class="logo">
          <img src="{{book?.cover}}"/>
        </div>
        <div class="col-md-10">
            <table class="table">
                <caption>
                    <button type="button" class="btn btn-light" (click)="back()">Back</button>
                </caption>
                <tbody>
                    <tr>
                        <td>Id:</td>
                        <td>{{book?.id}}</td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>{{book?.title}}</td>
                    </tr>
                    <tr>
                        <td>Author:</td>
                        <td>{{book?.author}}</td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>{{book?.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
