<div class="container">
    <h1>Publisher Detail</h1>
    <hr />
    <br />
    <div class="row">
        <div class="logo">
          <img src="{{publisher?.logo}}"/>
        </div>
        <div class="col-md-10">
            <table class="table">
                <caption>
                    <button type="button" class="btn btn-light" (click)="back()">Back</button>
                </caption>
                <tbody>
                    <tr>
                        <td>Id:</td>
                        <td>{{publisher?.id}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{publisher?.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
