<div class="container">
  <h1>Book Add Form</h1>
  <hr/>
  <br/>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form [formGroup]="addBookForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label class="col-form-label" for="title">Title:</label>
          <input class="form-control" type="text" formControlName="title"/>
          <div *ngIf="submitted && inputFieldValue.title.errors">
            <div *ngIf="inputFieldValue.title.errors.required">Title is Required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="author">Author</label>
          <input class="form-control" type="text" formControlName="author"/>
          <div *ngIf="submitted && inputFieldValue.author.errors">
            <div *ngIf="inputFieldValue.author.errors.required">Author is Required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="price">Price</label>
          <input class="form-control" type="text" formControlName="price"/>
          <div *ngIf="submitted && inputFieldValue.price.errors">
            <div *ngIf="inputFieldValue.price.errors.required">Price is Required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="cover">Cover</label>
          <input class="form-control" type="text" formControlName="cover"/>
          <div *ngIf="submitted && inputFieldValue.cover.errors">
            <div *ngIf="inputFieldValue.cover.errors.required">Cover is Required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="publisher">Publisher</label>
          <select class="form-control" type="text" formControlName="publisherId">
            <option *ngFor="let publisher of publishers" value={{publisher?.id}}>
              {{publisher?.name}}
            </option>
          </select>
          <div *ngIf="submitted && inputFieldValue.departmentId.errors">
            <div *ngIf="inputFieldValue.publisherId.errors.required">Publisher is Required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-light" [disabled]="!addBookForm.valid">
              Save
            </button>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-dark" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-light" (click)="back()">Back</button>
    </div>
  </div>
</div>
