<div class="container">
    <h1>Publisher Edit Form</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form [formGroup]="editPublisherForm" (ngSubmit)="submit()">
                <div class="form-group">
                    <label class="col-form-label" for="id">Id:</label>
                    <input class="form-control" type="text" formControlName="id" readonly />
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="name">Name:</label>
                    <input class="form-control" type="text" formControlName="name" />
                    <div *ngIf="submitted && inputFieldValue.name.errors">
                        <div *ngIf="inputFieldValue.name.errors.required">Name is Required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="logo">Logo:</label>
                  <input class="form-control" type="text" formControlName="logo" />
                  <div *ngIf="submitted && inputFieldValue.logo.errors">
                    <div *ngIf="inputFieldValue.logo.errors.required">Logo is Required</div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-light" [disabled]="!editPublisherForm.valid">
                            Save
                        </button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-dark" (click)="cancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-light" (click)="back()">Back</button>
        </div>
    </div>
</div>
